/* Back to top button */
.back-to-top {
  width: 38px;
  height: 38px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 10;
  border-radius: 20px;
  cursor: pointer;
  background-color: #fff;
  color: #6c7fd8;
  border: 1px solid #6c7fd8;
  text-align: center;
  font-size: 22px;
  line-height: 1.6;
}
.back-to-top i {
  font-size: 20px;
}
.back-to-top:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.back-to-top svg {
  width: 36px;
  height: 36px;
  position: fixed;
  right: 16px;
  bottom: 16px;
}
.back-to-top svg path {
  fill: transparent;
  stroke: #6c7fd8;
  stroke-width: 5px;
}
